@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar .navbar-nav .nav-item a {
  padding: 15px;
}

.navbar .navbar-nav .nav-but {
  padding: 10px;
}

:root {
  --main-color: #7c96d1;
}

.theme-text {
  color: var(--main-color);
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(images/Nigerian-children\ \(1\).png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.wave {
  position: absolute;
  bottom: 0px;
}

.middle {
  height: 80vh;
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.middle h1 {
  font-size: 70px;
}


